@media (max-width: 991px) {
    /* Navbar */
    .navbar {
        padding: 0.5rem 1rem;
        background: white;
    }
    .navbar .navbar-nav .nav-item {
        padding: 2px 5px;
    }
    .navbar .navbar-nav .nav-item a {
        font-size: 18px;
    }

    /* Jumbotron */
    .jumbotron {
        height: auto;
        padding: 5rem 1rem;
    }
    .jumbotron .text {
        padding: 2rem;
        position: relative;
        text-align: center;
    }
    .jumbotron .text h1 {
        font-size: 40px;
    }
    .jumbotron .text h2 {
        font-size: 20px;
    }
    .jumbotron .text h3 {
        font-size: 18px;
    }

    /* About */
    .text-about {
        padding: 3rem 1rem;
        text-align: center;
    }
    .text-about h1 {
        font-size: 35px;
    }
    .text-about p {
        font-size: 18px;
    }

    /* Project */
    #carouselExampleFade .carousel-inner .carousel-item img {
        height: auto;
    }
    .title-project h1 {
        font-size: 40px;
        text-align: center;
    }

    /* Skills & Tools */
    #skills {
        padding: 3rem 0;
    }
    .title-skills h1 {
        font-size: 40px;
    }

    /* Testimonial */
    #testimonial .one {
        padding: 2rem;
        text-align: center;
    }
    #testimonial .one h2 {
        font-size: 28px;
    }

    /* Contact */
    #contact {
        padding: 4rem 1rem;
    }
    .contact-title h1 {
        font-size: 40px;
    }
    #contact form .form-label, 
    #contact form input, 
    #contact textarea {
        font-size: 18px;
    }
}
